  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ i.name }} | Shop Type : {{ i.shoptype }}</h5>
        <p class="card-text">{{ i.user.first_name }} {{ i.user.last_name }} </p>
        <p class="card-text">{{ i.address }}</p>
        <p class="card-text">{{ i.town }} | {{ i.district }} | {{ i.pin }}</p>
        <a href="{% url 'shop:inshop' i.id %} " class="btn btn-primary">Visit {% if i.pendingitems != None and  i.pendingitems != 0 %} <span class="badge badge-danger">{{ i.pendingitems }}</span>{% endif %}</a>
      </div>
    </div>
  </div>