<div class="container w-25 card p-4 mt-4">
{% if profile.user.usertype == 'doctor' %}
    <div class="profile-pic">
    <img src="{{profile.profilepic.url}}" alt="">
    </div>
    <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
    <h4>{{ profile.designation }}  {{ profile.specialist_in }} specialist</h4>
    <h4>{{ profile.hospital_name }}</h4>
    <h4>{{ profile.address }}</h4>
    <h4>{{ profile.town }}</h4>
    <h4>{{ profile.district }}</h4>
    <h4>{{ profile.state }}</h4>
    <h4>{{ profile.pin }}</h4>
    {% elif profile.user.usertype == 'shopmanager' %}
    <div class="profile-pic">
        <img src="{{profile.profilepic.url}}" alt="">
    </div>
    <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
    <h4>{{ profile.address }}</h4>
    <h4>{{ profile.town }}</h4>
    <h4>{{ profile.district }}</h4>
    <h4>{{ profile.state }}</h4>
    <h4>{{ profile.pin }}</h4>
    {% elif profile.user.usertype == 'user' %}
    <div class="profile-pic">
        <img src="{{ profile.profilepic.url }}" alt="">
    </div>
    <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
    <h4>{{ profile.occupation }}</h4>
    <h4>{{ profile.address }}</h4>
    <h4>{{ profile.town }}</h4>
    <h4>{{ profile.district }}</h4>
    <h4>{{ profile.state }}</h4>
    <h4>{{ profile.pin }}</h4>
    <h6>{{ profile.notes }}</h6>
    {% endif %}
</div>
